<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by Gabriel Ikeda while attending Firehose Project. Gabriel is attending Firehose Academy and Codecademy to become a software engineer.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

</div>

<br class="clear">
<br />
<br />
<br />
<br />